body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 0;
    background-color: #FAFAFA;
    margin: 0;
    min-width: 430px;
}

.header {
    background-color: #212121;
    width: 100%;
    height: 48px;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    display: table;
    white-space: nowrap;
    overflow: hidden;
}

.title-icon,
.title-text,
.title-links {
    display: table-cell;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 48px;
}

.title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    width: 100%;
}

.title-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.title-links {
    padding-right: 10px;
}

.title-links a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.title-links a img {
    vertical-align: top;
    margin: 16px 6px 16px 6px;
    width: 16px;
    height: 16px;
}

.title-links a div {
    display: inline-block;
}

.content {
    padding: 40px;
    position: relative;
    background-color: #FAFAFA;
}

.label {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    width: 200px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: top;
}

.input-row {
    margin-bottom: 10px;
}

.input-row .label {
    color: #212121;
}

.hidden {
    display: none;
}

input {
    width: 350px;
    height: 40px;
    border: 1px solid #E0E0E0;
    padding: 8px;
    border-radius: 0;
    color: #212121;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #BDBDBD;
}

input:-moz-placeholder {
    color: #BDBDBD;
}

input::-moz-placeholder {
    color: #BDBDBD;
}

input:-ms-input-placeholder {
    color: #BDBDBD;
}

input::-ms-input-placeholder {
    color: #BDBDBD;
}

input::placeholder {
    color: #BDBDBD;
}

input.invalid {
    background-color: mistyrose;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

.column {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.column:first-child:not(:only-child) {
    margin-right: 40px;
}

.column-header {
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #EEEEEE;
    position: relative;
}

.column-header .column-text {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    right: 80px;
}

.column-header .control {
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.column-header .control:hover {
    background-color: #E0E0E0;
}

.column-header .control.plus {
    right: 0;
    font-size: 20px;
}

.column-header .control.minus {
    right: 40px;
    font-size: 20px;
}

.product-table-container {
    padding-left: 10px;
}

.product-table {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 1170px;
}

.product-table th {
    font-weight: normal;
    height: 40px;
    padding: 0 5px 0 5px;
}

.product-table td {
    padding: 5px;
}

.product-table td:first-child,
.product-table th:first-child {
    padding-left: 0;
}

.product-table td:last-child,
.product-table th:last-child {
    padding-right: 0;
}

.product-table input {
    width: 100%;
}

.generate {
    margin-top: 20px;
}

.submit-button {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: #0D47A1;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
}

.submit-button:hover {
    background-color: #1565C0;
    cursor: pointer;
}

.submit-button.disabled,
.submit-button.disabled:hover
{
    background-color: #BDBDBD;
    color: #EEEEEE;
    cursor: default;
}

.revision {
    font-size: 14px;
    color: #212121;
    background-color: #FAFAFA;
    text-align: right;
    padding: 0 5px 5px 5px;
}