body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 0;
    background-color: #FAFAFA;
    margin: 0;
}

.header {
    background-color: #212121;
    width: 100%;
    height: 48px;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    display: table;
    white-space: nowrap;
}

.title-icon,
.title-text,
.title-links {
    display: table-cell;
}

.title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
    width: 100%;
}

.title-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.title-text,
.title-links,
.title-icon {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 48px;
}

.title-links {
    padding-right: 10px;
}

.title-links a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.title-links a img {
    vertical-align: top;
    margin: 16px 6px 16px 6px;
    width: 16px;
    height: 16px;
}

.title-links a div {
    display: inline-block;
}

.content {
    padding: 40px;
}

.column {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.label {
    margin-right: 10px;
    font-size: 14px;
    width: 200px;
    display: inline-block;
}

.input-row {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

input {
    width: 332px;
    height: 22px;
    border: 1px solid #E0E0E0;
    padding: 8px;
    border-radius: 0;
    color: #212121;
}

input::-webkit-input-placeholder {
    color: #BDBDBD;
}

input:-moz-placeholder {
    color: #BDBDBD;
}

input::-moz-placeholder {
    color: #BDBDBD;
}

input:-ms-input-placeholder {
    color: #BDBDBD;
}

input.invalid {
    background-color: mistyrose;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

.generate {
    margin-top: 20px;
}

.submit-button {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: #0D47A1;
    color: #FFFFFF;
    width: 160px;
    height: 40px;
}

.submit-button:hover {
    background-color: #1565C0;
    cursor: pointer;
}

.submit-button.disabled,
.submit-button.disabled:hover
{
    background-color: #BDBDBD;
    color: #EEEEEE;
    cursor: default;
}

.revision {
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    background-color: #FAFAFA;
    color: #212121;
    text-align: right;
}