body {
    font-family: 'Roboto';
    font-size: 0;
    margin: 0;
    padding: 40px;
    color: #212121;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bold {
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 150px;
    overflow: hidden;
}

.logo img {
    width: 320px;
}

.meta {
    font-size: 12px;
    width: 340px;
    white-space: nowrap;
    overflow: hidden;
}

.meta td {
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
}

.meta tr:nth-child(1) > td {
    font-weight: bold;
    font-size: 16px;
}

.meta tr:nth-child(1) > td,
.meta tr:nth-child(2) > td {
    padding-bottom: 20px;
}

.meta td:first-child {
    padding-right: 13px;
}

.meta tr:last-child > td {
    padding-bottom: 0;
}

.header,
.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contact .tag {
    color: #757575;
}

.seller,
.buyer {
    font-size: 12px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.seller {
    width: 320px;
    background-color: #ECEFF1;
}

.buyer {
    width: 318px;
    border: 1px solid #212121;
}

/* items */
.items {
    font-size: 12px;
    height: 300px;
}

table.items {
    border: 1px solid #212121;
    width: 100%;
}

.items th,
.items td {
    vertical-align: top;
    text-align: right;
    font-weight: normal;
    padding: 5px;
}

.items th {
    border: 1px solid #212121;
    white-space: nowrap;
    background-color: #ECEFF1;
    font-weight: bold;
}

.items td {
    border-right: 1px solid #212121;
}

.items th:first-child,
.items td:first-child {
    text-align: left;
    width: 99%;
}

.items tr:not(:last-child) {
    height: 1px;
}

.vat-row {
    display: flex;
    justify-content: flex-end;
}

.vat-row > .vat-container {
    font-size: 12px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.vat-row > .vat-container.row1 {
    padding-top: 10px;
}
.vat-row > .vat-container.row2 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #212121;
}
.vat-row > .vat-container.row3 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

span.no-wrap {
    white-space: nowrap;
}

.details {
    font-size: 12px;
    color: #212121;
    margin-top: 20px;
    white-space: nowrap;
}

.details div:first-child {
    font-weight: bold;
    margin-bottom: 2px;
}

.bottom {
    font-size: 12px;
    color: #212121;
    text-align: center;
    border-top: 1px solid #212121;
    position: fixed;
    bottom: 40px;
    right: 40px;
    left: 40px;
}


.bottom .bullet {
    font-family: 'DejaVu Sans';
    font-size: 6px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.bottom .line {
    display: inline-block;
    white-space: nowrap;
}

.barcode {
    position: fixed;
    right: 38px;
    bottom: 140px;
}
