{
  "emails": [
    {
      "name": "Art Vandelay",
      "sender": "art.vandelay@vandelayindustries.com",
      "password": "mysupersecretpassword",
      "recipient": "cool.customer@somecompany.com",
      "message": "A copy of the invoice for month {monthnumber} ({monthname}) {year}.\n\nRegards,\n\nVandelay Industries Ltd\nArt Vandelay",
      "subject": "Invoice {year}-{invoicenumber}"
    }
  ]
}